<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
</head>

<body>
    {{>header}}
    <div class="about">

<h2>Name : {{name}}</h2>

<img src="./av.jpg"/>
    </div>
   
{{>footer}}
</body>

</html>